
//* LAYOUTS
//******************************
//******************************

//****Belt
.ministry-section
	overflow-x: hidden
.belt 
	width: 200%
	+clearfix
	position: relative
	left: -100%
	.column-1
		width: 50%
		float: left
		margin: 0
	.column-2
		width: 50%
		float: left
		margin: 0



.full-width-img
	img
		margin-left: 25px

figure.effect-julia
	width: 31%
	margin-right: 2.5%
	&:nth-child(3),
	&:nth-child(6)
		margin-right: 0


.ministry-feature-box
	.ministry-feature-slider
		+span-columns(8)
	aside
		+span-columns(3)
		font-size: 12px


.ministry-load
	// display: none