.border
	border-bottom: 4px solid rgb(252,2,3)
	margin: 0 auto 40px
	width: 83%
.ft-col-1
	@media(max-width: 768px)
		+span-columns(12)

// slick slider*****************
.slick-dots
	bottom: 90%
	left: 40%
	li
		button
			&::before
				font-size: 12px
				@media(max-width: 540px)
					font-size: 10px
	@media(max-width: 540px)
		bottom: 85%
	@media(max-width: 479px)
		left: 35%
	@media(max-width: 400px)
		bottom: 80%